@import "variables";
@import "header";
@import "footer";
@import "call";
@import "choice";
@import "clients";
@import "contact";
@import "portofolio";
@import "eum";
@import "service";
@import "teams";
@import "testmonial";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
body {
  height: 1000px;
}

div.header {
  width: 100%;
  height: 650px;
  background-image: url("../img/hero-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
  padding-top: 50px;
  position: relative;
}

div.header_cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 50px;
}

.btn {
  background-color: #009970;
  color: white;
}
.navbar-light .navbar-nav .active > .nav-link,
.nav-link:hover {
  color: #009970;
}
.nav-item a {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
a.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
  color: white !important;
  background-color: #009970;
}

.header_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 200;
}
